/* h1   {color: blue; size: 20; text-align: center;}
h2   {color: blue; size: 14; text-align: center;} */

.centered-form{
	margin-top: 100px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
}